.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    /* padding: 7rem 2rem 2rem 4rem; */
    transition: margin-left var(--transitionDuration);
}

.layout-main {
    width: 100%;
    background-size: 5px 5px;
    background-image: radial-gradient(
        hsla(215 28% 17% / 0.2) 0.5px,
        hsla(0 0% 95% / 1) 0.5px
    );
}
