@import './menu.css';
@import './variables.css';
/* @import './content.css'; */
@import './responsive.css';
a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
    display: flex;
}
