.menu-item-active {
    @apply bg-slate-100 text-indigo-600;
}
.menu-sub-active {
    @apply text-indigo-600;
}

.layout-submenu-enter-from,
.layout-submenu-leave-to {
    max-height: 0;
}

.layout-submenu-enter-to,
.layout-submenu-leave-from {
    max-height: 1000px;
}

.layout-submenu-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.layout-submenu-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

.layout-submenu-angle-icon {
    translate: all 1.5s;
}
.layout-submenu-angle-icon-expand {
    transform: rotate(180deg);
}
